<%= form_with model: [fragment, Observation.new],
    data: {
      controller: "composer"
    } do |form| %>
  <div
  data-composer-target="wrapper"
  class="
    border
    theme-border
    theme-surface

    rounded-full

    transition-all
    duration-200

    px-3
    py-1.5

    flex
    items-center
    gap-2
  "
>
    <button
    type="button"
    class="
      w-8
      h-8

      shrink-0

      rounded-full

      hover:bg-zinc-800

      transition

      flex
      items-center
      justify-center
    "
  >
      <%= lucide_icon "plus", class:"w-4 h-4 " %>
    </button>
    <%= form.text_area :content,
      rows: 1,
      style: "height: 24px;",
      placeholder: "Think from another angle...",
      data: {
        composer_target: "textarea",
        action: "
          input->composer#resize
          keydown->composer#submit
        "
      },
      class: "
        flex-1

        bg-transparent

        resize-none

        border-0
        outline-none
        focus:ring-0

        p-0

        leading-7
        py-1

        h-7
        max-h-[180px]

        overflow-hidden
      " %>
    <span
    data-composer-target="hint"
    class="
      hidden

      text-[11px]

      text-zinc-500

      whitespace-nowrap

      pb-1
    "
  >
      Shift+Enter
    </span>
    <button
    data-composer-target="submit"
    type="submit"
    class="
      w-8
      h-8
      shrink-0

      rounded-full

      bg-zinc-700

      transition

      flex
      items-center
      justify-center
    "
  >
      <%= lucide_icon "arrow-up",
        class:"w-4 h-4 text-white" %>
    </button>
  </div>
<% end %>