<div class="flex items-center gap-2 mb-2">
  <%= lucide_icon "messages-square",
      class: "w-4 h-4 text-zinc-400" %>
  <h2 class="font-semibold text-xs
      md:text-sm">
    Let's do a bit of brainstorming.
  </h2>
</div>
<div
  class="space-y-6"
>
  <% fragment.observations.order(:created_at).each do |observation| %>
    <%= render "fragments/show/message",
        fragment: fragment,
        observation: observation %>
  <% end %>
</div>