<div
  class="
    relative

    w-full

    overflow-hidden

    rounded-[32px]

    border
    border-white/5

    bg-white/[0.04]

    backdrop-blur-3xl

    shadow-[0_0_80px_rgba(0,0,0,.35)]

    p-10
  "
>
  <div
    class="
      absolute
      inset-0

      rounded-[32px]

      bg-gradient-to-br
      from-white/[0.05]
      via-transparent
      to-pink-500/[0.02]

      pointer-events-none
    "
  ></div>
  <div class="relative z-10">
    <%= yield %>
  </div>
</div>