<div
  class="
    relative

    w-full

    overflow-hidden
    z-10
    rounded-4xl

    border
    border-white/10

    bg-white/3

    backdrop-blur-2xl
    backdrop-saturate-150

    shadow-[0_10px_40px_rgba(0,0,0,.18)]

    before:absolute
    before:inset-0
    before:bg-linear-to-br
    before:from-white/3
    before:via-transparent
  before:to-pink-500/1.5
    before:pointer-events-none
    supports-backdrop-filter:bg-white/5

    p-10
  "
>
  <%= yield %>
</div>