# Bundler
/.bundle
/backend_rails/.bundle

# Environment files
.env*
backend_rails/.env*
frontend_react_ts/.env*

# Logs & temp
log/*
tmp/*
backend_rails/log/*
backend_rails/tmp/*
!backend_rails/log/.keep
!backend_rails/tmp/.keep

# Pids
backend_rails/tmp/pids/*
!backend_rails/tmp/pids/.keep

# Storage
storage/*
backend_rails/storage/*
!backend_rails/storage/.keep

# Public assets & master key
/backend_rails/public/assets
/backend_rails/config/master.key
/backend_rails/app/assets/builds/*
!/backend_rails/app/assets/builds/.keep

# Node & Frontend
node_modules
frontend_react_ts/node_modules
frontend_react_ts/dist
*.log
.DS_Store
forge_logo_backup.png
