<div class="flex justify-center gap-4">
  <%= link_to "Sign Up",
      signup_path,
      class: "
        px-6
        py-3
        rounded-xl
        bg-zinc-100
        text-zinc-900
        hover:bg-white
        transition
      " %>
  <%= link_to "Sign In",
      signin_path,
      class: "
        px-6
        py-3
        rounded-xl
        border
        theme-border
        hover:bg-zinc-900
        transition
      " %>
</div>