<% if current_user %>
  <div
  data-controller="profile-menu"
  class="p-4"
>
    <button
    data-action="click->profile-menu#toggle"
      class="
      w-full
      flex
      items-center
      rounded-xl
      hover:bg-zinc-800
      transition
      p-2
      "
      >
      <div
      class="
        w-10
        h-10
        rounded-full
        bg-pink-500
        text-white
        flex
        items-center
        justify-center
        shrink-0
      "
    >
        <%= current_user.username.first.upcase %>
      </div>
      <div
      data-sidebar-target="label"
      class="ml-3"
    >
        <div class="text-sm font-medium">
          <%= current_user.username %>
        </div>
        <div class="text-xs text-zinc-500">
          Account
        </div>
      </div>
    </button>
  </div>
<% end %>