<div
  class="
    relative

    min-h-screen

    overflow-hidden
  "
>
  <div
    id="neural-background"
    class="
      absolute
      inset-0
      -z-10
    "
  ></div>
  <div
    class="
      max-w-5xl

      mx-auto

      min-h-screen

      flex
      flex-col
      justify-center

      px-6
    "
  >
    <%= render "home/index/hero" %>
    <%= render "home/index/cta" %>
  </div>
  <%= render "shared/footer" %>
</div>