<div class="max-w-4xl">
  <%= render "fragments/index/header" %>
  <% if @fragments.any? %>
    <%= render "fragments/index/list",
        fragments: @fragments %>
  <% else %>
    <%= render "fragments/index/empty" %>
  <% end %>
</div>