<div class="max-w-3xl mx-auto p-8">
  <h1 class="text-4xl font-bold mb-8">
    New Fragment
  </h1>

  <%= form_with model: @fragment do |form| %>

    <div class="mb-4">
      <%= form.text_area :content,
        rows: 6,
        class: "w-full border rounded-xl p-4" %>
    </div>

    <%= form.submit "Save Fragment",
      class: "bg-black text-white px-4 py-2 rounded-lg cursor-pointer" %>

  <% end %>
</div>